@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');



body {
    /* background-image: url('../img/Landing\ page.jpg'); */
    background-position: top;
    /* background-repeat: no-repeat; */
    /* opacity: 0.5; */
}


.header {
    background-image: url('../img/background-block1.png');
    display: flex;
    /* background-repeat: no-repeat; */
    background-position: center;
    min-height: 800px;
}

.logo {
    border-radius: 50%;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 620px;
    padding-right: 23px;
}



.review {
    background-image: url('../img/background-block2.png');
    /* background-repeat: no-repeat; */
    background-position: center;
    display: flex;
    min-height: 537px;
}


.review__text {
    padding-right: 106px;
    word-spacing: 2.1px;
    padding-top: 84px;
    justify-content: center;
    display: flex;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.34px;
}

.review__text p {
    padding-left: 46px;
    margin-bottom: 0px;
}


.review__img {
    padding-right: 62px;
    text-align: center;
    padding-top: 13px;
}

.review__img p {
    margin-top: 3px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 24.3px;
    line-height: 22.5px;
    padding-left: 6px;
    padding-top: 9px;
    letter-spacing: -0.1px;
}

.review__img span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 17.5px;
    padding-right: 8px;
    color: #565656;
}


.projects {
    background-image: url('../img/background-block3.png');
    /* background-repeat: no-repeat; */
    background-position: center;
    display: flex;
    min-height: 997px;
}

.projects__header {
    display: flex;
}

.projects__header h2 {
    padding-left: 43px;
    margin-top: 101px;
    margin-bottom: 0px;
    font-family: Libertinage;
    font-size: 96px;
    line-height: 96px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 100;
}

.gallery {
    background-image: url('../img/background-block4.png');
    /* background-repeat: no-repeat; */
    background-position: top;
    display: flex;
    min-height: 1118px;
}

.gallery__header {
    display: flex;
    justify-content: center;
}

.gallery__header h1 {
    font-family: Libertinage;
    margin-top: 119px;
    padding-left: 14px;
    font-size: 96px;
    color: #565656;
    margin-bottom: 0px;
    line-height: 96px;
    z-index: 1;
    font-weight: 100;
}


.gallery__foto {
    z-index: 2;
    padding-top: 8px;
    width: 105%;
}

.gallery__content {
    margin-left: -15px;
}

.gallery__video {
    padding-top: 25px;
    width: 105%;
}

.gallery__contents {
    margin-left: -15px;
}


.likes {
    background-image: url('../img/background-block5.png');
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    min-height: 480px;
}

.likes__content {
    height: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes__content h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}

.likes__content span {
    font-size: 48px;
}

.team {
    background-image: url('../img/background-block6.png');
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    min-height: 1956px;
}

.team__header {
    padding-top: 27px;
    display: flex;
    justify-content: center;
}

.team__header h1 {
    font-family: Libertinage;
    font-weight: 100;
    font-size: 96px;
    line-height: 96px;
    color: #FFFFFF;
    color: #565656;
    margin-bottom: 0px;
}

.slider-wrap {
    width: 100% !important;
    max-width: 100% !important;
    /* overflow: hidden; */
    min-height: 250px;
    padding: 39px 21px 0;
}

.slider {
    max-width: 100%;
    width: 100%;
}

.slide {
    padding: 0 21px;
    outline: none;
}

.slick-arrow {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: auto;
    height: auto;
    color: #8493a8;
}

.slick-arrow:before {
    font-family: inherit;
    font-size: 50px;
    color: white;
}


.slick-next {
    right: -29px;
    top: 182px;
}

.slick-next:before {
    content: "\f105";
}

.slick-prev {
    right: 100px;
    top: 182px;
}

.slick-prev:before {
    content: "\f104";
}


.slider__width {
    margin-left: -57px;
    margin-top: -7px;
    width: 112%;
}

.font {
    padding: 0px 0px;

    width: 122%;
}

.projects__footer {
    margin-top: 17px;
    display: flex;
    justify-content: center;
}

.projects__footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}


.btn {
    margin-top: 9px;
    margin-left: 419px;
    border: 1px solid white;
    background: none;
    text-decoration: none;
    cursor: pointer;
    display: block;
    background-color: rgba(196, 196, 196, 0.3);
    border-radius: 33px;
    color: white;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    padding: 24px 67px;
}

.btn--inline {
    display: inline-block;
}

.btn:hover {
    color: #565665;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #565665;
    transition: .3s;
}

.btn:active {
    color: #565665;
    background-color: rgba(86, 86, 86, 0.3);
    border: 2px solid #565665;
}

.team__content {
    margin-bottom: 35px;
    padding-left: 75px;
    padding-top: 16px;
}

.content__eclipse {
    border: 1px solid white;
    border-radius: 140px;
    padding: 13px 13px;
    width: 283px;
    height: 282px;
}


.team__people img {
    filter: grayscale(1);
}

.team__people img:hover {
    filter: grayscale(0);
}

.team__people1-2{
    padding-right: 18px;
}

.team__people1-3{
    padding-right: 49px;
}

.team__people h3 {
    padding-right: 0px;
    padding-top: 0px;
    font-family: 'Roboto', sans-serif;
    line-height: 27px;
    text-align: center;
    font-size: 22px;
    word-spacing: -4.9px;
    letter-spacing: 1.7px;
    margin-bottom: 0px;
    margin-top: 12px;
}

.team__people span {
    font-size: 16px;
    padding-right: -11px;
    opacity: 0.5;
    letter-spacing: 0.9px;
}

.team-1-2 {
    padding-left: 49px;
}

.team-1-3 {
    padding-left: 19px;
}

.social {
    padding: 10px 111px;
    margin: 0px;
    list-style: none;
    font-size: 15px;
}

.social__item {
    display: inline-block;
}

.social__item+.social__item {
    margin-left: 5px;
}

.social__link {
    color: #565656;
    text-decoration: none;
}

.social__link:hover {
    color: red;
}

.team__form {
    border: 1px solid white;
    min-width: 1103px;
    height: 702px;
    margin-top: 76px;
    margin-right: 12px;
    margin-left: 16px;
    border-radius: 55px;
    background-color: rgba(245, 245, 245, 0.7);
}

.form__header {
    display: flex;
    justify-content: center;
}

.form__content {
    text-align: center;
}

.form__header h1 {
    color: #565656;
    font-family: Libertinage;
    font-weight: 100;
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 0px;
    margin-top: 77px;
    margin-left: 27px;
}

.form__content p {
    margin-bottom: 53px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 38px;
    color: #565656;
    margin-top: 10px;
    padding-left: 29px;
}

#input__text {
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(245, 245, 245, 0.1);
    width: 160px;
    height: 25px;
}

#input__text:focus {
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(245, 245, 245, 0.1);
    width: 160px;
    color: #BD9591;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    height: 25px;
}



input,
select,
option {
    border: 1px solid #bababa;
    outline: none;
    text-align: center;
    color: #BD9591;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: rgba(245, 245, 245, 0.7);
}



.button {
    margin-top: 66px;
    font-family: 'Roboto', sans-serif;
    height: 68px;
    width: 243px;
    margin-left: 429px;
    border: 1px solid white;
    background: none;
    text-decoration: none;
    cursor: pointer;
    display: block;
    background-color: rgba(196, 196, 196, 0.3);
    border-radius: 33px;
    color: white;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    padding: 21px 67px;
    display: flex;
    justify-content: center;
}

.button:hover {
    color: #565665;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #565665;
    transition: .3s;
}

.button:active {
    color: #565665;
    background-color: rgba(86, 86, 86, 0.3);
    border: 2px solid #565665;
}



.footer {
    display: flex;
    min-height: 660px;
}

.footer__content {
    margin-left: -12px;
    border: 1px solid white;
    min-height: 412px;
    margin-top: 123px;
    width: 104%;
    border-radius: 22px;
    background-color: rgba(196, 196, 196, 0.3);
    overflow: hidden;
}

.footer__content--margin-left {
    margin-left: 17px;
}

.footer__content p {
    padding-left: 54px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 49px;
    color: #565656;
    padding-top: 59px;
    margin-bottom: 0px;
}

.footer__content a {
    text-decoration: none;
    color: #565656;
    letter-spacing: -0.2px;
}

.footer__content a:hover {
    text-decoration: dashed;
    color: #565656;
    letter-spacing: -0.2px;
    opacity: 0.5;
}

.social__footer {
    padding-left: 55px;
    padding-top: 15px;
    margin: 0px;
    list-style: none;
    font-size: 22px;
}

.footer__content iframe {
    border: 1px solid white;
    border-radius: 22px;
}

.footer__content iframe {
    border-radius: 22px;
}