@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|PT+Sans');

body{
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1070px;
    height: 100%;
    margin: 0 auto;
}
.article {
    text-align: center;
}

.header h4 {
    padding: 99px 0px 0px 0px;
    font-size: 10px;
    letter-spacing: 5px;
}

.header h1 {
    font-size: 42px;
    letter-spacing: 6px;
    color: #32BAB6;
    font-family: 'Montserrat Bold', sans-serif;
}

.header p {
    text-transform: uppercase;
    line-height: 26px;
    font-size: 17px;
    color: gray;
    font-family: 'PT Sans', sans-serif;
}


.container-main {
    display: flex;
    margin: 0 auto;
}

.col-4{
    width: 235px;
    text-align: center;
}


.row{
    width: 100%;
    text-align: center;
    display: flex;
}

.container-main div {
    padding: 32px;
    border: 1px solid whitesmoke;
    word-wrap: break-word;
}

i {
    font-size: 70px;
    text-align: center;
    padding: 45px;
}
.col-4 p {
    color: gray;
    padding: 0px 0px 45px 0px;
    line-height: 22px;
}

span {
    text-align: center;
}
h2 {
    padding: 12px;
}

.padding0 {
    padding: 0px;
}
.col-4:hover{
    background-color: #00C9CC;
    border: 1px solid #00C9CC;
    color: #FFFFFF;
}
.col-4:hover p{
    color: #FFFFFF;
}
.main {
    padding-top: 60px;
}